/build/**
/coverage/**
/docs/**
!/docs/.eleventy.js
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
/__tests__/App-test.js
/src/assets/images/index.js
test.js
babel.config.js
metro.config.js
!.eslintrc.js
/node_modules/
jest.config.js